@model Suma2Lealtad.Models.AfiliadoWeb

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-7 col-md-offset-2">

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Afiliado / Operaciones con el PinPad</h3>
                </div>

                <div class="panel-body">

                    <!-- SilverLight -->

                    @{Html.RenderPartial("SilverlightPinPad");}

                    <!-- SECCION PARA VERIFICAR OPERACIONES PinPad-->
                        <div class="col-md-12">
                            <p class="text-left" id="ElementoControl" style="visibility: hidden">ElementoControl</p>
                        </div>
                        
                    <!-- SilverLight -->

                    <div class="form-group">
                        <div class="col-md-12 col-btn">
                            <div class="pull-right">
                                @*<a id="boton1" href="javascript:Siguiente()" class="btn btn-success btn-md" role="button">Siguiente</a>
                                    <a id="boton2" href="javascript:Siguiente2()" class="btn btn-success btn-md" role="button">Siguiente</a>*@
                                @*<a id="boton3" href="@Url.Action("", "")" class="btn btn-success btn-md" role="button">Guardar</a>*@
                                @*<input id="boton3" type="submit" class="btn btn-success btn-md" value="Guardar" />*@
                                <a id="boton4" href="@Url.Action("", "")" class="btn btn-danger btn-md" role="button">Salir</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--// panel-body -->

            </div>
            <!--// panel -->

        </div>
        <!--// columns -->

    </div>
    <!--// row -->

</div>
<!--// container -->

