@model Suma2Lealtad.Models.Afiliado

@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-7 col-md-offset-2">

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Crear Afiliación / Filtro de Búsqueda</h3>
                </div>

                <div class="panel-body">

                    <div class="editor-label col-md-4 control-label"> <br /> </div>
                    <div class="editor-field col-md-8"> <br /> </div>

                    <form action="@Url.Action("Find", "Afiliado")" name="form" method="post" onsubmit="return validatePass();">

                        <div class="editor-label col-md-4 control-label">
                            Número de Documento :
                        </div>

                        <div class="editor-field col-md-8">
                            <input type="text" id="numdoc" name="numdoc" value="" maxlength="10" placeholder="V-12345678" class="form-control" required>
                            <span id="someID"></span>
                        </div>

                        <div class="editor-label col-md-4 control-label"> <br /> </div>
                        <div class="editor-field col-md-8"> <br /> </div>

                        <div class="form-group">
                            <div class="col-md-12 col-btn">
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-success btn-lg" value="Buscar" />
                                </div>
                            </div>
                        </div>

                        <div class="editor-label col-md-4 control-label"> <br /> </div>
                        <div class="editor-field col-md-8"> <br /> </div>

                    </form>

                </div>
                <!--// panel-body -->

            </div>
            <!--// panel -->

        </div>
        <!--// columns -->

    </div>
    <!--// row -->

    <script type="text/javascript">

        function validatePass() {

            var patron1 = /^(V|E|J|G)\-\d{6,8}$/

            if (document.form.numdoc.value.search(patron1) == -1) {
                spanMessage();
                document.form.numdoc.focus();
                return false;
            }
        }

        function spanMessage() {

            var span = document.getElementById('someID');
            while (span.firstChild) {
                span.removeChild(span.firstChild);
            }
            span.appendChild(document.createTextNode("* Formato Número de Documento Incorrecto. (V-12345678)"));

        }
    </script>

</div>
<!--// container -->

