@model Suma2Lealtad.Models.Afiliado

@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-7 col-md-offset-2">

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Afiliado / Filtro de Búsqueda de Afiliado</h3>
                </div>

                <div class="panel-body">

                    <div class="editor-label col-md-4 control-label"> <br /> </div>
                    <div class="editor-field col-md-8"> <br /> </div>

                    <form action=@Url.Action("Find", "Afiliado") name="form" method="post" >

                        <div class="editor-label col-md-4 control-label">
                            Número de Documento :
                        </div>

                        <div class="editor-field col-md-8">
                            <input type="text" id="numdoc" name="numdoc" maxlength="10" placeholder="V-12345678" class="form-control">
                            <span id="someID"></span>
                        </div>

                        <div class="editor-label col-md-4 control-label">
                            Nombre :
                        </div>

                        <div class="editor-field col-md-8">
                            <input type="text" id="name" name="name" maxlength="50" placeholder="Nombre" class="form-control">
                            <span id="someName"></span>
                        </div>

                        <div class="editor-label col-md-4 control-label"> <br /> </div>
                        <div class="editor-field col-md-8"> <br /> </div>

                        <div class="form-group">
                            <div class="col-md-12 col-btn">
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-success btn-lg" value="Buscar Afiliado" />
                                </div>
                            </div>
                        </div>

                        <div class="editor-label col-md-4 control-label"> <br /> </div>
                        <div class="editor-field col-md-8"> <br /> </div>

                    </form>

                </div>
                <!--// panel-body -->

            </div>
            <!--// panel -->

        </div>
        <!--// columns -->

    </div>
    <!--// row -->

@*    <script type="text/javascript">

        function validatePass() {

            var patron1 = /^(V|E|J|G)\-\d{6,8}$/
            //var patron2 = /^\d{6,8}$/

            if (document.form.numdoc.value.search(patron1) == -1) {
                spanMessage();
                document.form.numdoc.focus();
                return false;
            }
        }

        function spanMessage() {

            var span = document.getElementById('someID');
            while (span.firstChild) {
                span.removeChild(span.firstChild);
            }
            span.appendChild(document.createTextNode("* Formato de Documento incorrecto. Ejm = V-12345678"));

        }
    </script>*@

</div>
<!--// container -->

