@{
    ViewBag.Title = "GenericView";
}

<div class="jumbotron">
  <div class="container">
    <h3><b>Afiliado</b></h3>
    <p>Aquí va un mensaje de resultado de la acción.</p>
  </div>
</div>

<div class="form-group">
	<div class="col-md-12 col-btn">
        <a class="btn btn-success btn-lg" href="@Url.Action("Filter","Afiliado")">Continuar</a>
	</div>
</div>
