@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-group">



    <!-- Table Dummy -->

<div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Afiliado / Revisar Afiliaciones / Lista de Registros</h3>
                </div>

                <div class="panel-body">

                    <table class="table table-striped custab">

                        <thead>

                            <tr>
                                <th>
                                     Nombre

                                </th>
                                <th class="text-center"></th>
                            </tr>

                        </thead>

                        <tbody>


                                <tr>
                                    <td>
                                        Afiliado 1
                                    </td>
                                    <td class="text-right">
                                        <a href="/Afiliado/Edit/1" class="btn btn-info btn-xs">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Afiliado 2
                                    </td>
                                    <td class="text-right">
                                        <a href="/Interest/Edit/2" class="btn btn-info btn-xs">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Afiliado 3
                                    </td>
                                    <td class="text-right">
                                        <a href="/Interest/Edit/3" class="btn btn-info btn-xs">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Afiliado 4
                                    </td>
                                    <td class="text-right">
                                        <a href="/Interest/Edit/9" class="btn btn-info btn-xs">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </td>
                                </tr>

                        </tbody>

                    </table>

                    <div>
                        <div>
                            <a href="@Url.Action("FilterReview", "Afiliado")" class="btn btn-success btn-md">Retornar</a>
                        </div>
                    </div>

                </div>
                <!-- panel-body -->

            </div>

    <!-- // Table Dummy -->







</div><!-- form-group -->      