@model Suma2Lealtad.Models.Afiliado

@{
    ViewBag.Title = "Reiniciar Pin";
}

<div class="container">

    <div class="row">

        <div class="col-md-7 col-md-offset-2">

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Afiliado / Operaciones con el PinPad / Reiniciar Pin</h3>
                </div>

                <div class="panel-body">

                    <!-- btn btn-success -->
                    <div class="col-md-12 col-btn">
                        <div class="text-center">
                            <a href="javascript:ReiniciarPin()" class="btn btn-success btn-md" role="button">Activar PinPad</a>
                        </div>
                    </div>
                    <!--// btn btn-success -->

                    <!-- SilverLight -->

                    @{Html.RenderPartial("SilverlightPinPad");}

                    <!-- SECCION PARA VERIFICAR OPERACIONES PinPad-->
                    <div class="col-md-12">
                        <p class="text-left" id="ElementoControl" style="visibility: hidden">ElementoControl</p>
                    </div>

                    <!-- SilverLight -->

                    <div class="form-group">
                        <form id="commentForm" method="post" action="@Url.Action("Index", "Afiliado")" class="form-horizontal">
                            <div class="col-md-12 col-btn">
                                <div class="pull-right">
                                    @*<a href="@Url.Action("Index", "Afiliado", new { numdoc = Model.docnumber })" class="btn btn-success btn-md">Regresar</a>*@
                                    <input type="submit" class="btn btn-success btn-md" value="Regresar" style="padding-right: 15px; padding-left: 15px; margin-left: 0px;" />
                                </div>
                            </div>@Html.TextBox("numdoc", @Model.docnumber, new { style = "visibility:hidden", @class = "form-control" })
                        </form>
                    </div>

                </div>
                <!--// panel-body -->

            </div>
            <!--// panel -->

        </div>
        <!--// columns -->

    </div>
    <!--// row -->

</div>
<!--// container -->

