@{
    ViewBag.Title = "R_ConsumoCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-push-1 col-md-10">

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Reporte de Consumos General</h3>
                </div>

                <div class="panel-body">

                    <table class="table table-striped custab">
                        <tr>
                            <th>Fecha Solicitada</th>
                            <th>Fecha de Reporte</th>
                        </tr>

                        <tbody>

                            <tr data-row-key="1">
                                <td>01/05/2015 a 31/05/2015
                                </td>
                                <td>29/07/2015
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <table class="table table-striped custab">
                        <tr>
                            <th>C.I. o RIF</th>
                            <th>Nombre o Razón Social</th>
                            <th>Fecha y Hora</th>
                            <th>Sucursal</th>
                            <th>Clasificación</th>
                            <th>Monto</th>
                        </tr>

                        <tbody>

                            <tr data-row-key="1">
                                <td>J-317471903
                                </td>
                                <td>INV. QUEVECA 7, C.A.
                                </td>
                                <td>01/05/2015, 09:30:00
                                </td>
                                <td>VALLE ARRIBA
                                </td>
                                <td>OFF-LINE
                                </td>
                                <td>50.000,00
                                </td>
                            </tr>

                            <tr data-row-key="2">
                                <td>V-18998932
                                </td>
                                <td>SAMANTA ALVAREZ
                                </td>
                                <td>09/05/2015, 10:45:00
                                </td>
                                <td>VERACRUZ
                                </td>
                                <td>ETC
                                </td>
                                <td>5.200,00
                                </td>
                            </tr>

                            <tr data-row-key="3">
                                <td>E-21085464
                                </td>
                                <td>FULANITA DE TALCO
                                </td>
                                <td>20/05/2015, 02:45:10
                                </td>
                                <td>ALTO PRADO
                                </td>
                                <td>OFF-LINE
                                </td>
                                <td>7.230,00
                                </td>
                            </tr>

                            <tr data-row-key="4">
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>TOTAL
                                </th>
                                <th>03 TRANS
                                </th>
                                <th>62.430,00
                                </th>
                            </tr>

                        </tbody>

                    </table>

                    <!-- buttons -->
                    <div class="col-md-12 col-tabla-btn">
                        <div class="pull-right">
                            <a class="btn btn-success btn-md">Imprimir</a>
                            <a class="btn btn-success btn-md">Descargar</a>
                        </div>
                    </div>
                    <!--// buttons -->

                </div>
                <!-- panel-body -->

            </div>
            <!-- panel -->

        </div>
        <!-- columns -->

    </div>
    <!-- row -->

</div>
<!-- container -->


