@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <div class="container">
    <h3>Incidencia en la aplicación</h3>
    <p>Ha ocurrido una excepción en el sistema, el recurso solicitado no existe.</p>
    <p>Revise e intente nuevamente.</p>
  </div>
</div>