@{
    ViewBag.Title = "SessionExpired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row container">
    <div class="col-md-6 col-center">
        <h3>La sesión ha expirado, debe ingresar nuevamente a la aplicación.</h3>  
    </div>
</div>