@{
    ViewBag.Title = "SessionExpired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <div class="container">
    <h3>Sesión Expirada</h3>
    <p>Hemos detectado inactividad en la aplicación, su sesión ha vencido.</p>
  </div>
</div>