@{
    ViewBag.Title = "SessionExpired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <div class="container">
    <h4><b>Su sesión ha expirado</b></h4>
    <p>Disculpe, la sesión ha expirado.</p>
    <p>Esto usualmente ocurre cuando no ha realizado ninguna acción, es necesario ingresar nuevamente con sus credenciales.</p>
  </div>
</div>