@{
    ViewBag.Title = "FilterCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-push-1 col-md-10">
        @*<div class="col-md-7 col-md-offset-2">*@

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Prepago / Compañia / Filtro de Búsqueda</h3>
                </div>

                <div class="panel-body">

                    <div class="editor-label col-md-4 control-label">
                        <br />
                    </div>
                    <div class="editor-field col-md-8">
                        <br />
                    </div>

                    <form action="@Url.Action("FindCompany", "CompanyPrepago")" name="FilterForm" id="FilterForm" method="post" onsubmit="return validateForm();">

                        <div class="editor-label col-md-4 control-label">
                            Compañia:
                        </div>

                        <div class="editor-field col-md-8">
                            <input type="text" id="name" name="name" maxlength="50" placeholder="Escriba el nombre" class="form-control">
                            <span id="field1"></span>
                        </div>

                        <div class="editor-label col-md-4 control-label">
                            RIF :
                        </div>

                        <div class="editor-field col-md-8">
                            <input type="text" id="rif" name="rif" value="" maxlength="10" placeholder="J-123456789-0" class="form-control">
                            <span id="field2"></span>
                        </div>

                        <br />
                        <div class="editor-label col-md-4 control-label"></div>
                        <div class="editor-field col-md-8">
                            <span id="fields"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <div class="col-md-12 col-btn">
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-success btn-md" value="Buscar Compañia" />
                                    <a href="@Url.Action("", "")" class="btn btn-danger btn-md">Regresar</a>
                                </div>
                            </div>
                        </div>
                        <!-- form-group -->

                    </form>

                </div>
                <!--// panel-body -->

            </div>
            <!--// panel -->

        </div>
        <!--// columns -->

    </div>
    <!--// row -->

    <script>

        function validateRif() {
            var rif = document.getElementById('rif').value;
            if (rif.length == 0) {
                return false;
            }

            var RegExPattern = /^([VvEeJjGg]){1}(-){1}(\d){3,10}$/;
            var RegExPattern2 = /^([VvEeJjGg]){1}(\d){3,10}$/;
            var RegExPattern3 = /^([Pp]){1}(-){1}([A-Za-z0-9]){3,10}$/;
            var RegExPattern4 = /^([Pp]){1}([A-Za-z0-9]){3,10}$/;
            
            if (RegExPattern.test(rif) == false && RegExPattern2.test(rif) == false && RegExPattern3.test(rif) == false && RegExPattern4.test(rif) == false) {
                spanMessage('field1', '* Formato RIF Incorrecto. (J-12345678)');
                document.getElementById('rif').value = "";
                document.getElementById('rif').focus();
                return false;
            }
            else if (RegExPattern.test(rif) != false) {
                document.getElementById('rif').value = rif.toUpperCase();
            }
            else if (RegExPattern2.test(rif) != false) {
                document.getElementById('rif').value = rif.substring(0, 1).toUpperCase() + "-" + rif.substring(1).toUpperCase();
            }
            else if (RegExPattern3.test(rif) != false) {
                document.getElementById('rif').value = rif.toUpperCase();
            }
            else if (RegExPattern4.test(rif) != false) {
                document.getElementById('rif').value = rif.substring(0, 1).toUpperCase() + "-" + rif.substring(1).toUpperCase();
            }
            document.getElementById('field1').value = "";
            return true;
        }

        //function validateNumDoc() {

        //    var numdoc = document.getElementById('numdoc').value;

        //    if (numdoc.length == 0)
        //        return false;

        //    console.log(numdoc);

        //    if (!numdoc.match(/^(V|E|J|G)\-\d{6,8}$/)) {

        //        var span = document.getElementById('field1');
        //        span.innerHTML = "";
        //        span.appendChild(document.createTextNode("ExpReg No Válida!!"));
        //        return false;

        //    }

        //    return true;

        //}

        function spanMessage(idelemento, mensaje) {
            var span = document.getElementById(idelemento);
            while (span.firstChild) {
                span.removeChild(span.firstChild);
            }
            span.appendChild(document.createTextNode(mensaje));
        }


        function validateName() {

            var name = document.getElementById('name').value;

            if (name.length == 0)
                return false;

            //console.log(name);


            if (!name.match(/^[a-zA-Z''-'\s]*$/)) {

                //var span = document.getElementById('field2');
                //span.innerHTML = "";
                //span.appendChild(document.createTextNode("ExpReg No Válida."));
                //return false;
                spanMessage('field2', '* Formato Nombre Incorrecto.');
                document.getElementById('name').value = " ";
                document.getElementById('name').focus();
                return false;

            }
            return true;

        }

        function validateForm() {
            var rif = document.getElementById('rif').value;
            var name = document.getElementById('name').value;
            
            if (rif.length == 0 && name.length == 0) {
                var span = document.getElementById('fields');
                span.innerHTML = "";
                span.appendChild(document.createTextNode("Debe ingresar al menos un campo válido."));
                return false;
            } else {

                if (!validateRif() && !validateName()) {
                    return false;
                }

            }

        }

    </script>

</div>
<!--// container -->

