@model Suma2Lealtad.Models.BeneficiarioPrepago

@{
    ViewBag.Title = "FilterReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Prepago / Beneficiarios / Filtro de Búsqueda</h3>
        </div>

        <div class="panel-body">

            <div class="editor-label col-md-4 control-label">
                <br />
            </div>
            <div class="editor-field col-md-8">
                <br />
            </div>

            <form action="@Url.Action("FilterReview", "BeneficiarioPrepago")" name="FilterForm" id="FilterForm" method="post" onsubmit="return validateForm();">
                
                <div class="editor-label col-md-4 control-label"></div>
                <div class="editor-field col-md-8">
                    <br />
                </div>

                <div class="editor-label col-md-4 control-label">
                    Número de Documento/Cédula :
                </div>

                <div class="editor-field col-md-6">
                    <input type="text" id="numdoc" name="numdoc" maxlength="11" placeholder="V-12345678" class="form-control">
                    <span id="field1"></span>
                </div>

                <div class="editor-label col-md-4 control-label">
                    Nombre :
                </div>

                <div class="editor-field col-md-6">
                    <input type="text" id="name" name="name" value="" maxlength="50" placeholder="Escriba el nombre" class="form-control">
                    <span id="field2"></span>
                </div>

                <div class="editor-label col-md-4 control-label">
                    Correo Electrónico :
                </div>

                <div class="editor-field col-md-6">
                    <input type="text" id="email" name="email" value="" maxlength="50" placeholder="correo@dominio.com" class="form-control">
                    <span id="field3"></span>
                </div>

                <div class="editor-label col-md-4 control-label">
                    Estado de Afiliación :
                </div>

                <div class="editor-field col-md-6">
                    @Html.DropDownList("estadoAfiliacion",
                                       new SelectList(Model.EstadoDeAfiliacionOptions,
                                       "id",
                                       "estado",
                                       Model.EstadoDeAfiliacionOptions),
                                       new { @class = "form-control" }
                                       )
                    <span id="field4"></span>
                </div>

                <div class="editor-label col-md-4 control-label">
                    Estado de Tarjeta :
                </div>

                <div class="editor-field col-md-6">
                    @Html.DropDownList("estadoTarjeta",
                                       new SelectList(Model.EstadoDeTarjetaOptions,
                                       "id",
                                       "estado",
                                       Model.EstadoDeTarjetaOptions),
                                       new { @class = "form-control" }
                                       )
                    <span id="field5"></span>
                </div>

                <br />
                <div class="editor-label col-md-4 control-label"></div>
                <div class="editor-field col-md-8">
                    <span id="fields"></span>
                </div>
                <br />

                <div class="col-md-12 col-btn">
                    <div class="pull-right">
                        <input type="submit" class="btn btn-success btn-md" value="Buscar Beneficiario" />
                        @*<a href="@Url.Action("Index", "ClientePrepago", new { rif = Model.rifCliente })" class="btn btn-danger btn-md">Regresar</a>*@
                    </div>

                </div>
        <!-- form-group -->

        </form>

    </div>
    <!--// panel-body -->

</div>
<!--// panel -->

</div>
<!--// container -->

<script>

    function validateNumDoc() {
        var numdoc = document.getElementById('numdoc').value;
        if (numdoc.length == 0) {
            return true;
        }
        var RegExPattern = /^([VvEeJjGg]){1}(-){1}(\d){3,10}$/;
        var RegExPattern2 = /^([VvEeJjGg]){1}(\d){3,10}$/;
        var RegExPattern3 = /^([Pp]){1}(-){1}([A-Za-z0-9]){3,10}$/;
        var RegExPattern4 = /^([Pp]){1}([A-Za-z0-9]){3,10}$/;
        if (RegExPattern.test(numdoc) == false && RegExPattern2.test(numdoc) == false && RegExPattern3.test(numdoc) == false && RegExPattern4.test(numdoc) == false) {
            spanMessage('field1', '* Formato Número de Documento/Cédula Incorrecto. (V-12345678)');
            document.getElementById('numdoc').value = "";
            document.getElementById('numdoc').focus();
            return false;
        }
        else if (RegExPattern.test(numdoc) != false) {
            document.getElementById('numdoc').value = numdoc.toUpperCase();
        }
        else if (RegExPattern2.test(numdoc) != false) {
            document.getElementById('numdoc').value = numdoc.substring(0, 1).toUpperCase() + "-" + numdoc.substring(1).toUpperCase();
        }
        else if (RegExPattern3.test(numdoc) != false) {
            document.getElementById('numdoc').value = numdoc.toUpperCase();
        }
        else if (RegExPattern4.test(numdoc) != false) {
            document.getElementById('numdoc').value = numdoc.substring(0, 1).toUpperCase() + "-" + numdoc.substring(1).toUpperCase();
        }
        document.getElementById('field1').value = "";
        return true;
    }

    function spanMessage(idelemento, mensaje) {
        var span = document.getElementById(idelemento);
        while (span.firstChild) {
            span.removeChild(span.firstChild);
        }
        span.appendChild(document.createTextNode(mensaje));
    }

    function validateName() {
        var name = document.getElementById('name').value;
        if (name.length == 0)
            return true;
        if (!name.match(/^[a-zA-Z''-'\s]*$/)) {
            spanMessage('field2', '* Formato Nombre Incorrecto.');
            document.getElementById('name').value = " ";
            document.getElementById('name').focus();
            return false;
        }
        return true;
    }

    function validateEmail() {
        var email = document.getElementById('email').value;
        if (email.length == 0)
            return true;
        return true;
    }

    function validateForm() {
        if (validateNumDoc() && validateName() && validateEmail()) {
            return true;
        }
        else {
            return false;
        }
    }

</script>

